* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans', sans-serif;
}

h1 {
    font-size: 1rem;
}

header {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    padding:1.125em 1.25em;
    
  }

  .header-image {
    display: flex;
}


.header-logo {
    display: inline-block;
    width:28px;
   
}

.bold-text{
    font-family: Roboto;
    font-weight: 700;
    margin-left:0.2em ;
   
}

.header-title{
    display: inline-block;
    margin-right: 1.25em;
}

.body-container {
     display: flex;
    flex-direction: column;
    align-items:center;
    flex-wrap: wrap;
}
.blog-img{
    width: 100%;
}
.article-section{
    display: flex;
    flex-direction: column;
    margin-top: -5em;
    /* align-items: center; */
    color:black;
    /* max-width: 450px; */
    padding:6.875em 1.125em 1em;
    flex:1 200px;
   
}

.article-header{
    font-size: 1rem;
    font-weight:700;
}

.article-text {
    line-height: 1.5;
    width: 85%;
    margin-top: 0;
}

.hero-heading{
    font-size: 2rem;
    font-weight: 700;
    margin-top: -0.2em;
}

.hero-text{
    margin-top: -1.2em;
    line-height: 1.5;
    font-size: 1rem;
}

.date{
    color:#151515;
    font-weight: normal;
}

.line-break {
    display: inline-block;
    margin-top: 1em;
}

.blog-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    padding: 2.5em 1.5em;
}

.blog-text {
    font-size: 1rem;
    line-height: 1.5;
    width: 80%;
    
}


.footer{
    background:black;
    color:white;
    padding: 2.5em;
    width: 100%;
    text-align: center;
    
}